



body {


    margin-left: 40%;

    width: 100%;



}


ul {






}

li {

    display: inline;
    background-color: #4e7dff;
    color: white;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;




}


