header {


    background-color: #fff7c7;

    height: 80px;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;


}




.navbox {

    margin-top: 10px;


}



@media (min-width: 900px) {
.navbox {
    display: flex;
    justify-content: center;
    background-color: #e6e9e1;


        }
.nav {


    border-right: 1px solid black;


     }


.nav:first-child {


       border-left: 1px solid black;
                 }



}





@media (max-width: 899px) {


    .nav {

        border: 1px solid black;

    }



}


.nav {
    box-sizing: border-box;
    flex-basis:  10%;
    text-align: center;
    padding: 1px;
    background-color: #e6e9e1;


}



